<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Simple Sampler.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1A1C2ED23805BB400986DD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1A1C30323805BB500986DD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1A1C30E23805BB500986DD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
